.tabs {
  height: 100%;
  display: flex;
  position: relative;
}

.tab__list {
  width: 15rem;
}

.tab__panel {
  flex: 1;
  display: none;
  padding: 1.5rem 2rem;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.tab__panel.is-active {
  display: block;
}

.tab__panel-list i {
  position: relative;
  padding-left: 20px;
  font-size: 70px;
}

.tab__panel-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 1rem 2rem;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--title-color);
  text-align: left;
}

.tab:first-child .button {
  border-top-left-radius: var(--border-radius);
}

.tab:last-child .button {
  border-bottom-left-radius: var(--border-radius);
}

.button:focus,
.button:hover {
  outline: 0;
  color: var(--first-color);
}

.tab.is-active .button {
  background-color: var(--container-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--shadow);
  color: var(--first-color);
}

.tab__panel:first-of-type.is-active,
.tab__panel:last-child.is-active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 768px) {
  .resume__container {
    max-width: 350px;
    margin: 0 auto;
  }

  .tabs {
    flex-wrap: wrap;
  }

  .tab__list {
    width: 100vw;
    margin-bottom: 1.25rem;
  }

  .tab__panel:first-of-type.is-active,
  .tab__panel:last-child.is-active {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  .tab.is-active .button {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.tab__panel-title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  color: var(--title-color);
}

[data-theme="dark"] .tab__panel-title {
  color: #fff;
}

.tab__panel-subtitle {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

[data-theme="dark"] .tab__panel-subtitle {
  color: #f8f9fa;
}

.css {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  background-color: #1572b6;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.css .logo {
  margin-right: 8px;
}

.css .logo img {
  width: 16px;
  height: 16px;
}

/*  */
.icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.icon {
  font-size: 40px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-wrapper:hover .icon {
  color: #0d7ff0;
  transform: scale(1.2);
}

.icon-name {
  opacity: 0;
  font-size: 14px;
  margin-top: 5px;
  transition: opacity 0.3s ease;
}

.icon-wrapper:hover .icon-name {
  opacity: 1;
}
